/* color */

$color-white: #fff;
$color-black: #555;
$color-red: #ed4e52;
$color-green: #00a0a5;
$color-blue: #61bbf5;
$color-gray: #f7f7f7;
$color-darkgray: #aaa;
$color-navy: #40454f;
$color-lightnavy: #575e6b;
$color-lightred: #ef8686;
$color-winered: #bf2d21;
$color-darkgreen: #007e82;
$color-button-red: #d5464a;
$color-button-green: #009094;
$color-button-white: #e5e5e5;
$color-button-gray: #eee;
$color-button-blue: #5771e1;
$color-plan-green: #96d581;
$color-plan-darkgreen: #69955a;
$color-plan-yellow: #e4c838;
$color-plan-darkyellow: #9f8c27;
$color-plan-orange: #f0aa52;
$color-plan-darkorange: #a87739;
$color-plan-red: #f58476;
$color-plan-darkred: #ab5c52;
$color-plan-gray: #cbcbcb;
$color-list-blue: #25b2bf;
$color-line-gray: #ddd;
